@font-face {
    font-family: "Hack Regular";
    src:
        url("/fonts/hack-regular-webfont.woff2") format("woff2"),
        url("/fonts/hack-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src:
        url("/fonts/firasans-regular-webfont.woff2") format("woff2"),
        url("/fonts/firasans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Mono";
    src:
        url("/fonts/firamono-regular-webfont.woff2") format("woff2"),
        url("/fonts/firamono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --text: #ecf9ec;
  --background: #000000;
  --primary: #2cad76;
  --secondary: #3c82ec;
  --accent: #9264ce;

  --bg-active: rgb(20 80 170 / 78%);
  --bg-2: rgb(36 143 227 / 13%);
  --text-2: #7d7c7c;
}

